<br>

<h2>{% t epilogue_website_title %}</h2>

<p><a href="https://meson.network" target="_blank">https://meson.network</a></p>

<h2>{% t epilogue_social_title %}</h2>

<p><strong>Github</strong> <a href="https://github.com/daqnext" target="_blank">https://github.com/daqnext</a></p>
<p><strong>Twitter</strong> <a href="https://twitter.com/NetworkMeson" target="_blank">https://twitter.com/NetworkMeson</a></p>
<p><strong>Medium</strong> <a href="https://medium.com/meson-network" target="_blank">https://medium.com/meson-network</a></p>
<p><strong>YouTube</strong> <a href="https://www.youtube.com/c/MesonNetwork" target="_blank">https://www.youtube.com/c/MesonNetwork</a></p>
<p><strong>Docs</strong> <a href="https://docs.meson.network" target="_blank">https://docs.meson.network</a></p>
<p><strong>Discord</strong> <a href="https://discord.com/invite/z6YfSHDkmS" target="_blank">https://discord.com/invite/z6YfSHDkmS</a></p>
<p><strong>Telegram</strong> <a href="https://t.me/mesonnetwork" target="_blank">https://t.me/mesonnetwork</a></p>